@model Web.Services.Bill.DTO.BillCreateRequest

@{
    ViewData["Title"] = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4" id="addBill">
  

</div>
<div id="total-bill" style="margin-left:67%; font-size: 1.5rem; font-weight:700; margin-bottom:20px"></div>
<div id="post-bill"></div>
<div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @*//<script src="https://localhost:5001/js/addProduct.js"></script>*@
</div>


